<html>
     <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
          <style>
               body{
                   box-sizing: border-box;
                   padding: 0;
                   margin: 0;
                   background-color:#252A34  ;
                   overflow: hidden;
                   
                   
               }
               .logo{
                   width: 50px;
               }
               
               
               #input{
                   
                   border: none;
                   outline:none;
                   border-radius: 10px;
               }
               button,.btn {
         color: #fff;
         /* padding: 15px 25px; */
         padding-block: 2px;
         padding-inline: 9px;
         border-radius: 100px;
         background-color: #4C43CD;
         background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 87% at 26% 20%, rgba(255, 255, 255, 0.41) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
         box-shadow: 2px 19px 31px rgba(0, 0, 0, 0.2);
         font-weight: bold;
         font-size: 16px;
         color: #fff;
       
         border: 0;
       
         user-select: none;
         -webkit-user-select: none;
         touch-action: manipulation;
       
         cursor: pointer;
       }
       
 

.upload{
    padding: 6px;
    background-color: none;
    background: none;
    border:2px solid salmon;
    border-radius: 10px;
    
    cursor: pointer;
}

input{
    color: #FFFFFF;
    margin: 9px;
}
.flex{
     display: flex;
     justify-content: center;
     flex-direction: column;
     align-items: center;
     /* height: 80vh; */
}
input[type="file"]{
     border-radius: 10px;
     background-color: rgba(127, 255, 212, 0.642);
     /* background-color: #ff2e62da;// */
     padding: 150px;
     color: #000000;
     cursor: pointer;
}    
a{
    color: aliceblue;
   }
   a:hover{
    color: rgb(0, 136, 254);
   }
   
   .navbar{
    background-color: #ffffff3e;
    width: 100%;
    
    
   }
   #S{
    display: flex;
    justify-content: space-between;
   }
   .navbar-toggler{
    background-color: aliceblue;
   }
   .nav-item{
    padding-inline: 9px;
   }
   .Txt{
    color: white;
    text-align: center;
    padding: 10px;
   }
</style>
     </head>
  <body>
     <div class="container">
        <nav  class="navbar navbar-expand-lg navbar-light "  id="S"style="color: rgb(255, 255, 255);">
            <!-- <a class="navbar-brand" href="#"><img src="https://th.bing.com/th/id/OIP.OgfOmiYGE9besZdZg7Ok2gHaBH?pid=ImgDet&rs=1" width="250px"></a> -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse ml-auto me-auto mb-2 mb-lg-0" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <form action="/" method="post" >  
                      <!-- <input type="image" src="https://illustoon.com/photo/7800.png" width="30px" > -->
                        <input type="submit" name="upvote" value="Home" class="upload" />
                 </form>
              </li>
                
                <li class="nav-item">
                    <form action="/post" method="post" >  
                        <!-- <input type="image" src="https://illustoon.com/photo/7800.png" width="30px" > -->
                        <input type="submit" name="Search" value="Search" class="upload" /></l1>
                    </form>
                </li>
                <li class="nav-item">
                    <form action="/Delete" method="post" >  
                        <!-- <input type="image" src="https://illustoon.com/photo/7800.png" width="30px" > -->
                        <input type="submit" name="Search" value="DeleteFiles" class="upload" /></l1>
                        </form>
    
                </li>
                
              </ul>
            </div>
          </nav>
    <div >
        <h3 class="Txt">Upload The Excel File</h3>
      
       <form action="/uploadExcelFile" enctype="multipart/form-data" method="post" class="flex">
              <input type="file" name="uploadfile"  >
              <input type="submit"  value="Upload Excel" style="padding: 9px;" class="btn">
       </form>
     </div>
</div>
  </body>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </html>